<!-- <footer class="footer">
    <div class="f-info">

        <div class="f-info-socials">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-instagram"></i>
        </div>

        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>

        <div class="StayEase">
            <i>&copy; StayEase</i>
        </div>

    </div>
</footer> -->
<footer class="footer">
    <div class="container">

        <div class="footer-socials">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-instagram"></i>
        </div>

        <div class="footer-links">
            <a href="#">Privacy</a>
            <a href="#">Terms</a>
        </div>

        <p>© StayEase</p>

    </div>
</footer>